Repository rzLabs/Navislamia, pull requests merged in 2023-12, with the labels that each got.

#61 seed test data
  Game/Contexts/TelecasterContext.cs
  Game/Migrations/Telecaster/20231213221150_Version0001_TheBeginning.Designer.cs
  Game/Migrations/Telecaster/20231213221150_Version0001_TheBeginning.cs
  Game/Migrations/Telecaster/TelecasterContextModelSnapshot.cs
  Game/Models/Enums/Jobs.cs
  Game/Models/Telecaster/CharacterEntity.cs
  Game/Models/Telecaster/DungeonEntity.cs
  Game/Models/Telecaster/ItemEntity.cs
  MigrateDatabase/Worker.cs
Labels: Database

#62 read chars repo
  DevConsole/Program.cs
  DevConsole/appsettings.json
  Game/Contexts/TelecasterContext.cs
  Game/GameModule.cs
  Game/Network/Entities/ClientEntity.cs
  Game/Network/Entities/ClientService.cs
  Game/Network/Entities/Connection.cs
  Game/Network/Entities/ConnectionInfo.cs
  Game/Network/Entities/GameClientEntity.cs
  Game/Network/Entities/IClientService.cs
  Game/Network/Entities/LobbyCharacterInfo.cs
  Game/Network/Enums/AuthPackets.cs
  Game/Network/Enums/NetworkReadyFlag.cs
  Game/Network/INetworkModule.cs
  Game/Network/NetworkExtensions.cs
  Game/Network/NetworkModule.cs
  Game/Network/Packets/Actions/AuthActions.cs
  Game/Network/Packets/Actions/GameActions.cs
  Game/Network/Packets/Actions/UploadActions.cs
  Game/Network/Packets/Auth/TS_AG_KICK_CLIENT.cs
  Game/Network/Packets/Auth/TS_GA_CLIENT_KICK_FAILED.cs
  Game/Network/Packets/Auth/TS_GA_CLIENT_LOGOUT.cs
  Game/Network/Packets/Game/TS_SC_CHARACTER_LIST.cs
  Game/Network/Packets/Header.cs
  Game/Network/Packets/Packet.cs
  Game/Network/Packets/PacketExtensions.cs
  Game/Repositories/ArcadiaRepository.cs
  Game/Repositories/CharacterRepository.cs
  Game/Repositories/ICharacterRepository.cs
  Game/Services/CharacterService.cs
  Game/Services/ICharacterService.cs
  MigrateDatabase/Program.cs
  MigrateDatabase/TransferTables.cs
  MigrateDatabase/Worker.cs
  Navislamia.sln
Labels: Database, Network

#77 Update README.md
  README.md
Labels: Misc

#79 Extend Serilog with namespaces to set minimum log level for each context via appsettings
  DevConsole/Program.cs
  DevConsole/appsettings.json
  Game/Network/AuthClient.cs
  Game/Network/ClientService.cs
  Game/Network/GameClient.cs
  Game/Network/Packets/Actions/AuthActionService.cs
  Game/Network/Packets/Actions/GameActionService.cs
  Game/Network/Packets/Actions/UploadActionService.cs
  Game/Network/UploadClient.cs
Labels: Misc

#84 Implement Delete Character
  Game/DataAccess/Contexts/TelecasterContext.cs
  Game/DataAccess/Migrations/Telecaster/TelecasterContextModelSnapshot.cs
  Game/DataAccess/Repositories/CharacterRepository.cs
  Game/DataAccess/Repositories/Interfaces/ICharacterRepository.cs
  Game/Network/Entities/Actions/GameActions.cs
  Game/Network/Entities/AuthClient.cs
  Game/Network/Entities/Client.cs
  Game/Network/Entities/GameClient.cs
  Game/Network/Entities/UploadClient.cs
  Game/Network/Packets/Enums/DisconnectType.cs
  Game/Network/Packets/Enums/GamePackets.cs
  Game/Network/Packets/Game/TS_CS_DELETE_CHARACTER.cs
  Game/Network/Packets/Game/TS_SC_DISCONNECT_DESC.cs
  Game/Services/CharacterService.cs
  Game/Services/ICharacterService.cs
Labels: Network
